/* app/styles/app.css */

:root {
	background-color: #FFF8EE;
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 4em;
  
	--color-dark: #000;
  --color-light: #fff;
  --color-brand: #ED1C24;
  --color-secondary: #38a6a1;
  --color-lightgray: #f4f4f4;
	
	--spring-color: rgba(152, 251, 152, 0.2);
	--summer-color: rgba(255, 215, 0, 0.2);
	--autumn-color: rgba(255, 140, 0, 0.2);
	--winter-color: rgba(0, 191, 255, 0.2);

	--spring-color-full: #98FB98;
	--summer-color-full: #FFD700;
	--autumn-color-full: #FF8C00;
	--winter-color-full: #00BFFF;
	/* --background-opacity: 0.9; */
}


img {
  border-radius: 4px;
}


hr {
	width: 100%;
	border: 1px solid var(--color-dark);
	margin-top: 2rem;
}


/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */

/*
* --------------------------------------------------
* components/Hero
* --------------------------------------------------
*/

/*
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: var(--color-light);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero button {
  background-color: var(--color-brand);
  border: none;
  padding: 1em 2em;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 12em;
}

.hero .slot-content {
  max-width: 45%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content, .hero .slot-content {
    max-width: 100%;
  }

  .hero button {
    margin-bottom: 2rem;
  }
} 
*/


/*================================================================*/

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/

aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
	height: var(--header-height);
  align-items: center;
  background: #fff;
  display: flex;
  height: var(--header-height);
  padding: 0.6rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
	border-bottom: 1.5px solid #000;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.nav-logo {
	max-height: 64px;
}

.header .icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.icon-small {
	width: 14px;
	height: 14px;
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 2rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 0.4rem;
  margin-left: auto;
}

/* Dropdown */
.header-menu-item-container {
  position: relative;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

.dropdown-container:hover .dropdown {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .header-menu-desktop {
    display: none;
  }
  .header-menu-mobile {
    display: block;
  }
  .dropdown-container .dropdown {
    position: relative;
    display: block;
    box-shadow: none;
  }
}





/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/




.footer-tag {position: relative;}

.footer-tag:before {
    content: "";
    display: block;
    background: #111111;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-bg {
  position: relative;
}

.about-bg:before {
  content: "";
  position: absolute;
  right: 10%;
  background-image: url(/assets/new-bg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  width: 850px;
  top: -30%;
}
.about-cab {
  position: absolute;
  right: initial;
  left: 16.7%;
  top: -31px;
}

.about-cab {
  height: 158px;
  width: 158px;
}

.about-cab img {
  width: 100%;
  height: 100%;
}
/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
.w-full.banner-img {
  position: relative;
}

.w-full.banner-img:before {
  content: "";
  display: block;
  height: 700px;
  width: 700px;
  background-image: url(/assets/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: -80px;
}

.mobile-text{
  font-size: 1.875rem !important;
}

@media only screen and (max-width: 991px) {
  .w-full.banner-img:before{
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .mobile-view {
    flex-direction: column !important;
    margin-bottom: 30px;
}
hr.mobile-hr {
  margin: 20px 0 0 0 !important;
}
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.mineSearch .predictive-search-form input {
  border: 1px solid red;
  border-radius: 25px;
}
.mineSearch .predictive-search-form {
  background: transparent;
}
.mineSearch .predictive-search {
  height: auto;
  overflow-y: auto;
}

.mineSearch .predictive-search-results {
  position: absolute;
  background: white;
  padding: 10px 30px;
  width: 100%;
  margin: 0px 20px;
  right: 0;
  display: block;
  max-width: 460px;
}
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
/* .collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
} */

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
/* .collection-description {
  margin-bottom: 10rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
} */

/* .products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
} */

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

