/* app/styles/collections.css */

/* .cta-section .cta-link {
	background-color: var(--color-brand);
	border: none;
	padding: 1em 5em;
	color: white;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
} */