/* app/styles/pages/about.css */

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background: linear-gradient(to right, var(--color-brand), var(--color-secondary));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	height: 50vh;
	color: white;
}

.hero h1 {
	font-size: calc(4vw + 2em);
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1rem;
	text-transform: uppercase;
	/* Make the title all caps */
}

.hero p {
	font-size: 1.25rem;
	margin-bottom: 2rem;
}

.video-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.video-section video {
	width: 100%;
	height: auto;
}

.video-section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(to right, var(--color-brand), var(--color-secondary));
	z-index: -1;
}

@media (max-width: 768px) {
	.hero {
		padding: 1rem;
		height: 40vh;
	}

	.hero h1 {
		font-size: calc(6vw + 1em);
	}

	.hero p {
		font-size: 1rem;
	}
}