/* app/styles/ui/blurbs.css */

.blurbs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 2rem;
	gap: 3rem;
}

.blurb {
	flex: 1 1 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.blurb img {
	width: 6em;
	height: 6em;
	margin-bottom: 1rem;
}

.blurb h3 {
	color: gray;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	margin-bottom: 0.5rem;
}

.blurb .highlight {
	color: black;
	font-weight: 800;
	/* Highlighted text color */
}

.blurb p {
	font-size: 1rem;
}

@media (max-width: 768px) {
	.blurbs {
		flex-direction: column;
		align-items: center;
	}

	.blurb {
		width: 100%;
		flex-direction: row;
		align-items: center;
	}

	.blurb img {
		margin-right: 2rem;
		margin-bottom: 0;
	}

	.blurb h3,
	.blurb p {
		margin-bottom: 0.5rem;
	}
}