/* app/styles/ui/eyebrow.css */

/*
* --------------------------------------------------
* components/ui/Eyebrow
* --------------------------------------------------
*/

.eyebrow {
	display: inline-block;
	padding: 0.5em 1em;
	background: transparent;
	border: 1px solid var(--color-brand);
	border-radius: 50px;
	color: var(--color-brand);
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
}

.eyebrow-title {
	display: inline-block;
}
